{% extends 'base.html' %}
{% block title %}发布{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename="css/article.css") }}">
    {#    <script src="{{ url_for('static',filename="js/bootstrap-wysiwyg.js") }}"></script>#}
    <script src="https:////unpkg.com/wangeditor/release/wangEditor.min.js"></script>

{% endblock %}
{% block main %}

    <form action="{{ url_for('article') }}" method="post">
        <li>
            <div class="form-group">
    <input type="text" class="form-control"  placeholder="标题" name="title">
  </div>
        <li>
        <textarea id="text1" hidden name="content"></textarea>
        <div id="editor"  >
        </div></li>
        <li class="submit_btn"> <button type="submit" class="btn btn-primary ">提交</button></li>


    </form>
    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#editor');
        // 或者 var editor = new E( document.getElementById('editor') )
        var $text1 = $('#text1');
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        };
        editor.create()
     $text1.val(editor.txt.text())
    </script>
{% endblock %}