{% extends 'base.html' %}
{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">

{% endblock %}
{% block main %}
    {% if articles %}
        <ul>

            {% for article in articles %}
                <li>
                    <div class="panel panel-primary">
                        <div class="panel-heading ">
                            <a href="{{ url_for('detail',id=article.id) }}"><h3
                                    class="panel-title">{{ article.title }}</h3>
                            </a>

                        </div>
                        <div class="panel-body ">
                            {{ article.content | safe }}
                        </div>

                        <div class="footer">
                            <a href="{{ url_for('detail',id=article.id) }}">阅读全文</a>
                            <p>{{ article.author.username }}&nbsp;&nbsp;&nbsp;&nbsp;{{ article.create_time }}</p>

                            <p></p></div>
                    </div>

                </li>
            {% endfor %}

        </ul>
        {% else %}
            <h4>未找到相关文章,试试输入别的关键字...</h4>

    {% endif %}

{% endblock %}